---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/carritos":
    get:
      summary: list carritos
      tags:
      - Carritos
      responses:
        '200':
          description: successful
  "/carritos/{id}":
    parameters:
    - name: id
      in: path
      description: id
      required: true
      schema:
        type: string
    get:
      summary: show carrito
      tags:
      - Carritos
      responses:
        '200':
          description: successful
    delete:
      summary: vacia el carrito y pasa las ordenes del carrito a compras
      tags:
      - Carritos
      parameters: []
      responses:
        '204':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/carrito"
  "/compras":
    get:
      summary: list compras
      tags:
      - Compras
      responses:
        '200':
          description: successful
  "/compras/{id}":
    parameters:
    - name: id
      in: path
      description: id
      required: true
      schema:
        type: string
    get:
      summary: show compra
      tags:
      - Compras
      responses:
        '200':
          description: successful
  "/ordenes":
    get:
      summary: list ordenes
      tags:
      - Orden
      parameters: []
      responses:
        '200':
          description: successful
    post:
      summary: create orden and assigns it to a carrito
      tags:
      - Orden
      parameters: []
      responses:
        '201':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ordene"
  "/ordenes/{id}":
    parameters:
    - name: id
      in: path
      description: id de la orden
      required: true
      schema:
        type: string
    get:
      summary: show orden
      tags:
      - Orden
      parameters: []
      responses:
        '200':
          description: successful
    patch:
      summary: update orden
      tags:
      - Orden
      parameters: []
      responses:
        '200':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ordene"
    put:
      summary: update ordene
      tags:
      - Orden
      parameters: []
      responses:
        '200':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ordene"
    delete:
      summary: delete ordene
      tags:
      - Orden
      responses:
        '204':
          description: successful
  "/auth/":
    post:
      summary: sign up usuario
      tags:
      - Usuario
      parameters: []
      responses:
        '200':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/usuario"
  "/auth/sign_in":
    post:
      summary: sign in usuario
      tags:
      - Usuario
      parameters: []
      responses:
        '200':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/usuario"
  "/usuarios":
    get:
      summary: list usuarios
      tags:
      - Usuario
      responses:
        '200':
          description: successful
  "/usuarios/{id}":
    parameters:
    - name: id
      in: path
      description: id del producto
      required: true
      schema:
        type: string
    get:
      summary: show one usuario
      tags:
      - Usuario
      responses:
        '200':
          description: successful
    delete:
      summary: delete producto
      tags:
      - Usuario
      responses:
        '204':
          description: successful
  "/productos":
    get:
      summary: list productos
      tags:
      - Producto
      responses:
        '200':
          description: successful
    post:
      summary: create producto
      tags:
      - Producto
      parameters: []
      responses:
        '201':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/producto"
  "/productos/{id}":
    parameters:
    - name: id
      in: path
      description: id del producto
      required: true
      schema:
        type: string
    get:
      summary: show one producto
      tags:
      - Producto
      responses:
        '200':
          description: successful
    patch:
      summary: update producto
      tags:
      - Producto
      parameters: []
      responses:
        '200':
          description: successful
    put:
      summary: update producto
      tags:
      - Producto
      parameters: []
      responses:
        '200':
          description: successful
    delete:
      summary: delete producto
      tags:
      - Producto
      responses:
        '204':
          description: successful
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      bearer_format: JWT
  schemas:
    usuario:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
        name:
          type: string
        role:
          type: string
        carrito:
          "$ref": "#/components/schemas/carrito"
        compra:
          "$ref": "#/components/schemas/compra"
      required:
      - email
      - password
      - name
    carrito:
      type: object
      properties:
        total:
          type: number
        usuario_id:
          type: integer
        orders:
          type: array
          items:
            "$ref": "#/components/schemas/ordene"
    producto:
      type: object
      properties:
        nombre:
          type: string
        precio:
          type: number
        descripcion:
          type: string
        imagen:
          type: string
      required:
      - nombre
      - precio
      - descripcion
      - imagen
    compra:
      type: object
      properties:
        total:
          type: number
        orders:
          type: array
          items:
            "$ref": "#/components/schemas/ordene"
    ordene:
      type: object
      properties:
        cantidad:
          type: integer
        producto_id:
          type: integer
        usuario_id:
          type: integer
        producto:
          "$ref": "#/components/schemas/producto"
servers:
- url: http://{defaultHost}
  variables:
    defaultHost:
      default: localhost:3000
